# Exclude development folders
.vscode/
.git/
.gitignore
.vscodeignore
eslint.config.mjs
.prettierrc
.prettierignore

.github/

node_modules/

# Exclude build/test artifacts
out/test/
dist/
build/
coverage/

*.vsix

# OS junk
.DS_Store
Thumbs.db

# Misc
*.log
*.swp
*.swo

tsconfig.json
tsconfig.*.json
*.tsbuildinfo

src/**
